/* top banner start  */

.top-header { 
    display: flex;
    background-color: rgb(16, 4, 4);
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.head-top-left {
    width: 50%;
}

.head-top-right {
    text-align: center;
    width: 50%;
}
.head-top-right img {
    width: 70%;
}

.top-header h1{ 
    font-family: 'Oswald', sans-serif;
    color: azure;
    font-size: 3em;
    padding: 0px 10%;
}

.top-header p {
    color: azure;
    padding: 0px 10%;
}

@keyframes esliding {
    from {background-color: #f22424;}
    to {background-color: rgb(37, 42, 103);}
  }

.top-header button{
    background-color:#f22424 ;
    color: aliceblue;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10%;
    margin-top: 20px;
    animation: esliding 1s ease-in-out 0.5s infinite alternate ;
}

/* top banner end */

/* main body start */

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 25% 75%);
    margin-top: 5%;
    margin-bottom: 150px;
    margin-left: 5%;
    margin-right: 5%;
}

/* side menu start */

  .button-container ul{
    width: 280px;
    list-style: none;
    text-align: center;
    padding: 3%;
    background-color: rgb(18, 18, 20);
    margin-right: 30px;
    border-radius: 20px;
    
  }

  .button-container li {
    background-color: rgb(255, 251, 251);
    padding: 20px;
    margin: 5%;
    border-radius: 10px;
    text-decoration: none;
    
    
  }

  .button-container li  a {
    color: rgb(18, 18, 20);
    text-decoration: none;
  }
 
  .button-container ul .active-btn {
    background-color: #f22424;
  }

  /* side menu end */

  /* blog post start */
.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
   
}

.blogs-1 {
    border: rebeccapurple 1px solid ;
    border-radius: 10px;
}

.blogs-1 img {
    width: 100%;
}

.blogs-1 h1 {
    color: rgb(25, 24, 26);
    padding: 10px;
}

.blogs-1 button {
    font-size: 15px;
    padding: 5px;
    margin-left: 10px;
    background-color: beige;
    border-radius: 5px;
    
}

.icon-col {
    display: flex;
    padding: 5px;   
}

.icon-col img {
    width:20px ;
    height:20px;
    padding: 10px;
    margin-top: 5px;
}


.view-btn{
    text-align: center;
}

.view-btn button{ 
   
    background-color: #f22424;
    padding: 15px;
    border-radius: 10px;
    font-size: 2em;
    border: none;
    color: antiquewhite;
    width: 300px;
    margin-top: 50px;
    visibility: hidden;
    

}

/* blog post  end*/


/* footer start */
.fott-main-container {
    background-color: black;

}

.fott-main-container h1 {

    font-size: 3em ;
    color: antiquewhite;
    text-align: center;
    padding-top: 5%;
}

.fott-main-container ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    
}

.fott-main-container li {
    color: antiquewhite;
    padding: 5% 5%;
    
    }

    .social-icon{
        text-align: center;
    }

    .social-icon img {
        width: 3%;
        height: 3%;
        padding: 30px;
       
    }

/* tablet responsive design start */

@media screen and (min-width: 768px) and (max-width:992px) {


    .main-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }

    .blog-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 30px;
       
    }


    .button-container ul {
        width: 100%;
        display: flex;
        color: rgb(255, 248, 248);
        background: transparent;
       

 }

 .button-container li {
    background-color: rgb(46, 44, 44);
    
}
    

.top-header h1{ 
    font-size: 2em;
    padding: 0px 5%;
}
.top-header p {
    color: azure;
    padding: 0px 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container ul {
    text-align: center;
    

}


.button-container li{
    padding: 20px ;
    width: 200px;
}
.button-container li a{
    color: rgb(249, 249, 248);

}

.fott-main-container li {
    padding: 2% 2.5%;

}

.extra-blog {
    display: none;
}
.view-btn button{ 
    visibility: visible;
}

}   

/* tablet responsive design end */


/* mob responsive design start */


@media screen and (max-width:767px) {

    .blog-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
       
    }

    .button-container li a{
        color: rgb(249, 249, 248);
    
    }

 

.main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}


    .button-container ul {
        color: rgb(255, 248, 248);
        background: transparent;
        width: 100%;
       

 }



    .button-container li {
        background-color: rgb(46, 44, 44);
        
 }



    .fott-main-container ul {
        text-align: center;
        display: inline;
        
    }



    .top-header{
        display: grid;
        grid-template-columns: (1, 1fr);
        padding: 0px;
        text-align: center;
}

    .head-top-left {
    width: 100%;
}

.head-top-right {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}


    

}

/* mob responsive design end */